alembic==1.13.2
Flask==3.0.3
Flask_Bcrypt==1.0.1
Flask_Login==0.6.3
flask_mail==0.10.0
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
Flask_Table==0.5.0
flask_wtf==1.2.1
numpy==2.1.1
pandas==2.2.2
Pillow==10.4.0
scikit_learn==1.5.2
SQLAlchemy==2.0.23
WTForms==3.1.2
